name: Build APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Build with Buildozer
      uses: ArtemSBulgakov/buildozer-action@v1
      with:
        workdir: .
        buildozer_version: stable
    - name: Upload APK
      uses: actions/upload-artifact@v2
      with:
        name: chaiclone-apk
        path: bin/*.apk
