name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'
    - name: Install Buildozer
      run: pip install buildozer
    - name: Build APK
      run: |
        buildozer init
        buildozer -v android debug
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: chaiclone-apk
        path: bin/*.apk
        retention-days: 1
